// Colors
$blue-off: #0e3e8b;
$blue-on: #739ce0;
$grey-panel-asphalt: #646464;
$grey-panel-off: #272727;
$grey-panel-on: #3d3d3d;
$green-on: #55ff55;
$green-off: #559955;
$red-on: #ff5555;
$red-off: #995555;
$yellow-on: #ffff55;
$yellow-off: #999955;
$white-light: #ffeeee;